*{
    padding: 0;
    margin: 0;
}
.hns_header{
    background-color: rgb(56, 64, 87);
    height: 13vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hns_h_inner{
    /* background-color: #fff; */
    height: 85%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hnsh_name{
    /* background-color: yellow; */
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 25px;
    /* width: 50%; */
    height: 100%;
    font-size: 2rem;
    /* cursor: no-drop; */
}
.hnsh_home_log{
    /* background-color: yellowgreen; */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}
.hnsh_home_log a{
    color: #fff;
}
.hnsh_home_log a:hover{
    color: #b59d9d;
}
.hnsh_extra{
    /* background-color: wheat; */
    /* width: 50%; */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 15px;
}
.hnshe_profile{
    color: aliceblue;
    height: 35px;
    width: auto;
    border: 1px solid rgb(224, 211, 211);
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-radius: 20px;
    letter-spacing: 1px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
}
.hnshe_logout{
    /* background-color: yellowgreen; */
    padding: 2px;
}
.hnshe_logout button{
    background-color: #a82121;
    height: 35px;
    width: 120px;
    color: black;
    font-size: 1.2rem;
    /* padding: 5px; */
    border-radius: 20px;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hnshe_logout button:hover{
    background-color: #e61414;
}


/*  */
.hns_body_container{
    background-color: #fff;
    height: 78vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.stcard_nav{
    /* background-color: #977a7a; */
    height: 90%;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.stcard_nav_card{
    /* background-color: yellowgreen; */
    border: 2px solid gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 240px; */
}
.snc_top{
    /* background-color: #a82121; */
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.snc_top img{
    /* background-color: #a82121; */
    /* width: 100%; */
    height: 185px;
}
.snc_bottom{
    background-color: gray;
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1.2px;
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(251, 250, 250);
    font-weight: 600;
    cursor: pointer;
}
.snc_bottom:hover{
    color: rgb(251, 220, 220);
}



/*  */
.hns_footer{
    background-color: rgb(56, 64, 87);
    height: 9vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hns_f_con{
    /* background-color: rgb(38, 43, 56); */
    height: 7vh;
    /* width: 90%; */
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    letter-spacing: 4px;
    cursor: no-drop;
}





/*  */
.ASSign_hns_body_container{
    background-color: #fff;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ASSign_stcard_nav{
    /* background-color: #977a7a; */
    height: auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.assign_stcard_nav_card{
    /* background-color: yellowgreen; */
    border: 2px solid gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 240px;
}



/* test */
.test_st_dash{
    background-color: #fff;
    height: auto;
    width: 100%;
}
.test_st_dash_top{
    background-color: rgb(52, 58, 76);
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tsdt_inner{
    /* background-color: #f5c9c9; */
    width: 90%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: left;
}
.tsdt_inner ul{
    /* background-color: #6e2e2e; */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 20px;
    padding: 0;
    margin: 0;
}
.tsdt_inner ul li{
    /* background-color: #3d2f2f; */
    width: auto;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.tsdt_inner a{
    color: white;
}
.test_st_dash_bottom{
    /* background-color: #fff; */
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}




/* mcq */
.mcq_st_inner{
    /* background-color: #3f2e2e; */
    height: auto;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

.mcq_q_card_st {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
  }
  
  .test_info {
    text-align: center;
  }
  
  .test_info h2 {
    margin: 0;
  }
  
  .test_info p {
    margin: 5px 0;
  }
  
  .mcq_q_card_st button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .mcq_q_card_st button:hover {
    background-color: #0056b3;
  }


  /* class */
  .st_classroom_dash{
    background-color: #4c536a;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .st_c_d_inner{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 15px;
    color: #f0f0f0;
    font-size: 1.2rem;
  }
  .st_c_d_inner select{
    height: 90%;
    width: 15%;
    padding: 0;
  }