body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.nav-link {
  color: #ffffff; /* Default color for links */
  padding: 5px 10px; /* Adjust padding as needed */
  text-decoration: none; /* Remove underline from links */
}

.nav-link.active {
  border: 1px solid white; /* Border for active link */
  border-radius: 3px; /* Rounded corners for active link */
}
@media (min-width: 992px) {
  .border-lg-none {
    border: none !important;
  }
}