body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.hodprofile{
  
  background: #cc2b5e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #753a88, #cc2b5e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #753a88, #cc2b5e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}
.active{
  border: 1px solid white; /* Border for active link */
  border-radius: 3px;
}
.active-link{
  border: 5px solid rgb(0, 255, 64); /* Border for active link */
  border-radius: 3px;
  color: white;
  
}
.navbar .navbar-nav .nav-item .nav-link.active-link {
  border: 1px solid white; /* Border for active link */
  border-radius: 3px;
  color: white !important; /* Override Bootstrap's default color */
}



@media (min-width: 992px) {
  .border-lg-none {
    border: none !important;
  }
}
@media screen and (min-width : 992px) {
  .hodlayout{
    height: 100%;
  }
}