

  

   .dashboard-container {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 20px;
    background-color: #282E38;
  }
  
  .dashboard-container h1 {
    text-align: center;
    color: #fffefe;
    margin-bottom: 30px;
  }
  
  .dashboard-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .dashboard-box {
    flex: 1 1 300px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 0 10px 20px;
    transition: transform 0.3s ease;
  }
  
  .dashboard-box:hover {
    transform: translateY(-5px);
  }
  
  .dashboard-box h2 {
    color: #333;
    margin-top: 0;
  }
  
  
  .dashboard-box .dashboard-box-content {
    margin-top: 20px;
  }
  
  
  .dashboard-box button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #337ab7;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .dashboard-box button:hover {
    background-color: #286090;
  }
  
  .dashboard-box-content a{
    color: white;
    text-decoration: none;
  }
  .dashboard-box-content a:hover{
    text-decoration: none;
  }