
.tmains{
  font-family: Arial, sans-serif;
  /* max-width: 600px; */
  margin: 0 auto;
  background-color:#282E38;
  padding: 40px 20px;
}
.question-form {
  font-family: Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  font-size: large;
}

.question-form h2,
.question-form h3,
.add-question h3,
.add-question label {
  color: #000000; 
}

.question {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  font-size: large;
}

.add-question {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

.add-question label {
  display: block;
  margin-bottom: 10px;
  color: #555; 
}
.test-name-input {
  color: #333; 
}

.add-question input[type="text"],
.add-question select {
  width: calc(100% - 10px);
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #000000; 
}

.add-question .options-container label {
  display: inline-block;
  width: 48%;
  margin-right: 2%;
}

.add-question button,
.question-form button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.add-question button:hover,
.question-form button:hover {
  background-color: #45a049;
}

.add-question button {
  background-color: #4caf50;
  color: #fff;
}

.question-form button {
  background-color: #337ab7;
  color: #fff;
}

.question-form button:hover {
  background-color: #286090;
}
