
.test-form-container {
  font-family: Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding: 40px 20px;
}

.test-form-container h2 {
  text-align: center;
  color: #ffffff;
  margin-bottom: 30px;
}

.test-type-box {
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.test-type-box h3 {
  color: #333;
  margin-top: 0;
  margin-bottom: 20px;
}

.option {
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
}

.option:hover {
  background-color: #e0e0e0;
  text-decoration: none; 
}

.option.selected {
  background-color: #337ab7;
  color: #fff;
}

.option.selected:hover {
  background-color: #286090;
  
}
.option.selected a{
  color: white;
}

.option a {
  color: rgb(0, 0, 0); 
  text-decoration: none; 
}

.option a:hover {
  text-decoration: none;
   
}

.test-form-container button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.test-form-container button[type="submit"]:hover {
  background-color: #45a049;
}

.floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #337ab7;
  color: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.floating-button:hover {
  background-color: #286090;
}

.floating-button:focus {
  outline: none;
}

.floating-button-icon {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
